<!DOCTYPE html>
<html lang="en">

<head>
{#    <meta charset="utf-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">#}
{#    <title>Log in - Brand</title>#}
{#    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">#}
{#    <link rel="stylesheet"#}
{#          href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">#}
{#    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,700&amp;display=swap">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">#}
{#    <link rel="stylesheet" href="../static/css/Product-Slider-9-layerslider.css">#}
{#    <link rel="stylesheet" href="../static/css/Product-Slider-9-styles.min.css">#}
{#    <link rel="stylesheet" href="../static/css/Responsive-Product-Slider.css">#}
{#    <link rel="stylesheet" href="../static/css/search-bar-custom.css">#}
</head>

<footer class="bg-dark">
    <div class="container py-4 py-lg-5">
        <hr>
        <div class="text-muted d-flex justify-content-between align-items-center pt-3">
            <p class="mb-0">Copyright © 2023 ADAPT Fitness Training</p>
            <ul class="list-inline mb-0"></ul>
        </div>
    </div>
</footer>

{#<script src="../static/js/jquery.min.js"></script>#}
{#<script src="../static/bootstrap/js/bootstrap.min.js"></script>#}
{#<script src="../static/js/bold-and-dark.js"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" type="module"></script>#}
{#<script src="../static/js/main.js"></script>#}
{#<script src="../static/js/Product-Slider-9-script.min.js"></script>#}
{#<script src="../static/js/search-filter.js"></script>#}