.ui-autocomplete {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 15px;
  max-height: 200px;
  overflow-y: auto;
}

.ui-menu-item {
  padding: 8px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.ui-menu-item:last-child {
  border-bottom: none;
}

.ui-menu-item:hover, .ui-menu-item:focus, .ui-state-hover, .ui-state-focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}

