<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% block title %}Exercise Detail{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <h1>{{ detail.name }}</h1>
            <button class="btn btn-primary mt-5" id="subscribeButton" type="button" data-course-id={{ detail.id }}>
                {% if not detail.in_progress %}
                    Subscribe
                {% else %}
                    Terminate
                {% endif %}
            </button>

            <dl style="margin-top: 50px;">
                <dt>Description</dt>
                <dd>{{ detail.description }}</dd>
                <dt>Level: {{ detail.difficulty_level }}</dt>
                <dt>Goal: {{ detail.goal }}</dt>
                <dt>Equipment: {{ detail.equipment }}</dt>
                <dt>Training part: {{ detail.training_part }}</dt>
            </dl>
        </div>
    </section>
    {% include 'feedback.html' %}
{% endblock %}