<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}

{% block title %}In Progress{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h3 class="fw-bold">Your Progress</h3>
                </div>
            </div>
            <ul class="list-group" id="inProgressList">
                {% for course in courses %}
                    <li class="list-group-item" style="background: var(--bs-list-group-border-color);">
                        <a href="{% url 'detail' course.id %}" class="list">
                            <span id="training" style="color: var(--bs-white);">{{ course.name }}</span>
                            <span id="fitness-level" class="float-end"
                                  style="color: var(--bs-white);">{{ course.difficulty_level }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}