{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <header class="bg-dark">
        <div class="container pt-4 pt-xl-5">
            <div class="row pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="fw-bold">Get fit your way: Personalized fitness plans tailored to you</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;"><img
                            class="img-fluid" data-bss-parallax-speed="0.8"
                            src="../static/img/products/kelly-sikkema-IZOAOjvwhaM-unsplash.jpg">
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"></div>
                        <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {# only show recommendations after user login #}
    {% if user.is_authenticated %}
        <section class="py-5 mt-5">
            <div class="container"><input type="search" class="w-100 rounded"
                                          style="height: 43.6px;background: var(--bs-border-color-translucent);color: rgb(255,255,255);margin: 0px;margin-bottom: 32px;margin-left: 0px;padding: 18px 16px;">
                <dl class="row mb-3" style="color: var(--bs-white);">
                    <dt class="col-sm-6">Training</dt>
                    <dt class="col-sm-6 text-end">Fitness Level</dt>
                </dl>
                <ul class="list-group">
                    <a href="course_details.html" class="list-group-item"
                       style="background: var(--bs-list-group-border-color);"><span id="training"
                                                                                    style="color: var(--bs-white);">Biceps Training</span><span
                            id="fitness-level" class="float-end" style="color: var(--bs-white);">Beginner</span></a>
                    <li class="list-group-item" style="background: var(--bs-list-group-border-color);"><span id="training"
                                                                                                             style="color: var(--bs-white);">Leg Training</span><span
                            id="fitness-level" class="float-end" style="color: var(--bs-white);">Medium</span></li>
                    <li class="list-group-item" style="background: var(--bs-list-group-border-color);"><span id="training"
                                                                                                             style="color: var(--bs-white);">Chest Training</span><span
                            id="fitness-level" class="float-end" style="color: var(--bs-white);">Advanced</span></li>
                </ul>
            </div>
        </section>
    {% else %}
    {% endif %}
{% endblock %}